<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <div class="container">
        <%- include('header') %>
        <div id="wrapper">
            <div id="messages-container">
                <ul id="messages">
                    <% const randomHexColors = [
                    "#1a1a1a", "#333333", "#4d4d4d", "#666666", "#808080",
                    "#990000", "#b30000", "#cc0000", "#e60000", "#ff1a1a",
                    "#004d00", "#006600", "#008000", "#009900", "#00b300",
                    "#003366", "#003399", "#004d99", "#0066cc", "#0033cc"
                    ]; %>
                    <% for (let i = 0; i < messages.length; i++) { %>
                        <% const message = messages[i] %>
                        <div id="message">
                            <div id="message-data">
                                <p id="message-user" style="color: <%= randomHexColors[Math.floor(Math.random() * randomHexColors.length)] %>"><%= message.name %></p>
                               <li id="message-text"><%= message.text %></li>
                            </div>
                           <% 
                           const getTime = (minutes, hours, days) => {
                             if (minutes <= 0) {
                               return "Just now";
                             } else if (hours >= 24) {
                               return `${days} days ago`;
                             } else if (minutes >= 60) {
                               return `${hours} hours ago`;
                             } else {
                               return `${minutes} minutes ago`;
                             }
                           };
                         
                           const minutes = Math.round(((new Date().getTime() - message.time.getTime()) / 1000) / 60);
                           const hours = Math.round(minutes / 60);
                           const days = Math.round(hours / 24);
                           const time = getTime(minutes, hours, days);
                         %>
                         <i id="message-time"><p><%= time %></p></i>
                        </div>
                    <% } %>
                </ul>
                <ul id="pagination">
                    <% const leftVis = pageNum > 1 ? "visible" : "hidden" %>
                    <% const rightVis = pageNum < pageCount ? "visible" : "hidden" %>
                    <div id="pages">
                        <div style="visibility: <%= leftVis %>;">
                            <a href="/1">First</a>
                            <a class="arrow-container" href="/<%= pageNum - 1 %>"><img class="arrow" src="/arrow-left.svg" alt="go left"></a>
                        </div>
                        <p><%= pageNum %></p>
                        <div style="visibility: <%= rightVis %>;">
                            <a class="arrow-container" href="/<%= pageNum + 1 %>"><img class="arrow" src="/arrow-right.svg" alt="go right"></a>
                            <a href="/<%= pageCount %>">Last</a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>